body {
    background-color: rgb(182, 226, 182);
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.profile {
    width: 8rem;
    height: 8rem;
    background-image: url("moon.jpg");
    background-size: 120px;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transform: translateY(50%);
}
.banner {
    background-image: url("back.jpg");
    display: flex;
    justify-content: center;
}
.card {
    background-color: rgb(255, 255, 255);
    max-width: 360px;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.5);
}
.name {
    text-align: center;
    padding-top: 50px;
}
.follow-btn {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    flex-direction: column;
}
.follow-btn button {
    font-size: medium;
    font-weight: bold;
    background-color: rgb(49, 163, 179);
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 50px;
}
.desc {
    padding: 1.5rem;
}
.profile:hover {
    transform: translateY(50%) scale(1.5);
}
.follow-btn button:hover {
    background-color: lightblue;
    transform: scale(1.1);
}